<!DOCTYPE html>
<html lang="en">
<head>
  <title>Share My Filez</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/f4a0013b18.js" crossorigin="anonymous"></script>
  <link rel="icon" href="static/assets/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="static/assets/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="static/assets/favicon-16x16.png" />
  <link rel="manifest" href="static/assets/site.webmanifest" />
  <link rel="stylesheet" href="static/assets/css/all.min.css" />
  <link rel="stylesheet" href="static/assets/css/stylish.css" />
  <script defer src="static/assets/js/all.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
  <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
  <style>
    
  </style>
</head>
<body>
    
<div class="container mt-3">
    <h1>Hello {{string}} </h1>
    
    <form action="/{{string}}" target="_blank" method="POST" enctype="multipart/form-data">
      <label style="margin-top: 10px;" for="formFileMultiple" class="form-label">Upload your Documnets here</label>
      <input name="file" class="form-control" type="file" id="formFileMultiple" multiple />
      <!-- <input type="submit" onclick="window.close()" value="Submit" name="upload"> -->
      <button style="margin-top: 10px;" onclick="window.close()" name="upload" class="btn btn-primary">Upload <i style="color:white" class="fa fa-upload" aria-hidden="true"></i></button>
      
    </form>
    
    <h3 style="margin-top: 40px;">These are your Documents</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>File Name</th>
        <th>Time Created (UTC)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for keys, values in d1 %}
      <tr>
            <td>{{loop.index}}</td>
            <td><p style="word-break: break-all;"><a href="/static/{{string}}/{{keys}}" download>{{keys}}</a></p></td>
            
            <td>{{values}}</td>
        
        
        
            <td><a href="/static/{{string}}/{{keys}}/Delete" onclick="window.close()" target="_blank" ><button style="margin:2.5px;width:100px" type="button" class="btn btn-dark">Delete</button></a><a href="/static/{{string}}/{{keys}}" download><button style="margin: 2.5px;width:100px" type="button" class="btn btn-primary">Download</button></td></a>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  function myFunction() {
    // Get the text field
    var copyText = document.getElementById("myInput");

    // Select the text field
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);

    // Alert the copied text
    alert("Copied the text: " + copyText.value);
  }
</script>
</body>
</html>
